<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherForcast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D37C62221BF6E26D0031CD27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37C62361BF6E26D0031CD27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37C62411BF6E26D0031CD27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
