<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hello.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3FC38EA1BEEB81B0016FEEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3FC38FE1BEEB81B0016FEEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3FC39091BEEB81B0016FEEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
